<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2011 Federico Paolinelli
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.whiterabbit.checkers"
      android:versionCode="24"
      android:versionName="2.24" 
      android:installLocation="auto">
      
      	<uses-sdk android:minSdkVersion="4" />
      	
    <uses-permission android:name="android.permission.VIBRATE"/>  	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application 		android:name="PegDroidApplication"  
    android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".ui.CheckersGameActivity"
                  android:configChanges="orientation">
            
        </activity>
        <activity android:name=".ui.PegDroidPrefs"
          android:configChanges="orientation">    
        </activity>
        <activity android:name=".ui.BoardsListActivity"
          android:configChanges="orientation">    
        </activity>
        <activity android:name=".ui.CheckersStallActivity"
          android:configChanges="orientation">    
        </activity>
        <activity android:name=".ui.CheckersMainMenu"
          android:configChanges="orientation">
          <intent-filter>
        	<action android:name="android.intent.action.MAIN" />
        	<category android:name="android.intent.category.LAUNCHER" />
    	</intent-filter>
    
        </activity>
        
        
        
	<!-- Defining the ScoreloopUI activities -->
	<activity android:name="com.scoreloop.client.android.ui.PostScoreOverlayActivity" android:theme="@style/sl_dialog"/>
	<activity android:name="com.scoreloop.client.android.ui.EntryScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
	<activity android:name="com.scoreloop.client.android.ui.ShowResultOverlayActivity" android:theme="@style/sl_dialog"/>
	<activity android:name="com.scoreloop.client.android.ui.LeaderboardsScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
	<activity android:name="com.scoreloop.client.android.ui.component.market.MarketHeaderActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.market.MarketListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.entry.EntryListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.post.PostOverlayActivity" android:theme="@style/sl_dialog"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.score.ScoreHeaderActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.score.ScoreListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.user.UserAddBuddyListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.user.UserHeaderActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.user.UserDetailListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.user.UserListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.game.GameDetailHeaderActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.game.GameDetailListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.game.GameListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.achievement.AchievementHeaderActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.achievement.AchievementListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.news.NewsHeaderActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.news.NewsListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengeHeaderActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengeListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengeAcceptListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengeCreateListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengePaymentActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsListActivity"/>
	 <activity android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsPictureListActivity"/>
	 
	 <activity android:name="com.scoreloop.client.android.ui.framework.ScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
	 <activity android:name="com.scoreloop.client.android.ui.framework.TabsActivity"/>
                  
        
	<!-- The application's publisher ID assigned by AdMob -->
	<meta-data android:value="a14d2ccfb20d9cd" android:name="ADMOB_PUBLISHER_ID" />
	
	<!-- Track Market installs -->
	<activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
	
	<receiver android:name="com.google.ads.InstallReceiver" android:exported="true">
	<intent-filter> <action android:name="com.android.vending.INSTALL_REFERRER" />
	</intent-filter> </receiver>
    </application>


</manifest> 
